# Конфигурация Bitrix24
BITRIX_WEBHOOK_URL=https://bx.eg-holding.ru/rest/1/123123123123132
BITRIX_DEFAULT_RESPONSIBLE_ID=1
BITRIX_DEFAULT_PRIORITY=2
BITRIX_REQUEST_TIMEOUT=30
BITRIX_MAX_DESCRIPTION_LENGTH=10000

# Конфигурация RabbitMQ
RABBITMQ_HOST=rmq.eg-holding.ru
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_TASKS_EXCHANGE=camunda.external.tasks
RABBITMQ_TASKS_EXCHANGE_TYPE=topic
RABBITMQ_BITRIX_QUEUE=bitrix24.queue
RABBITMQ_HEARTBEAT=600
RABBITMQ_BLOCKED_TIMEOUT=300

# Общие настройки Worker
LOG_LEVEL=INFO
RETRY_ATTEMPTS=3
RETRY_DELAY=5
HEARTBEAT_INTERVAL=60
MAX_MESSAGES_PER_BATCH=10
MESSAGE_PROCESSING_TIMEOUT=120 